#x1{ 
	text-align: center;
	text-decoration-style: solid;
	border-width: 7px;
	font-size: 20pt; 
	font-style: italic;
	background-image: url("vts.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
   }

